:root {
    --text-color1: #212121;
    --text-color2: #757575;
    --text-color3: #ffffff;
    --text-color4: #2196f3;
    --text-color5: rgba(255, 255, 255, 0.6);
    --background-color1: #e5e5e5;
    --background-color2: #2196f3;
    --background-color3: #2f303a;
    --background-color4: #f5f4fa;
}
.backgroud-black {
    background-color: var(--background-color3);
}
.background-white {
    background-color: var(--background-color1);
}
.background-grey {
    background-color: var(--background-color4);
}
.logo-blue {
    font-family: 'Raleway';
    color: var(--text-color4);
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.logo-white {
    color: var(--text-color3);
}
.logo-black {
    color: var(--text-color1);
}
.head-foot-font {
    font-style: normal;
    text-decoration: none;
    color: var(--text-color2);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.address {
    color: var(--text-color3);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.button-hero {
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button {
    font-family: 'Roboto';
    background-color: var(--background-color4);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
}
.button:hover,
.button-hero {
    background-color: var(--background-color2);
    color: var(--text-color3);
}
.button:focus,
.button-hero {
    background-color: var(--background-color2);
    color: var(--text-color3);
}

.link {
    color: var(--text-color1);
    text-decoration: none;
}
.link:hover,
.head-foot-font:hover {
    color: var(--text-color4);
}
.link:focus,
.head-foot-font:focus {
    color: var(--text-color4);
}

.article-headline {
    color: var(--text-color1);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.article-text {
    color: var(--text-color2);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.product-name {
    color: var(--text-color1);
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
}
.product-description {
    color: var(--text-color2);
    font-size: 16px;
    line-height: 1.875;
}
.employ-name {
    color: var(--text-color1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
}
.employ-description {
    color: var(--text-color2);
    font-size: 16px;
    line-height: 1.1875;
}
.hero {
    color: var(--text-color3);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.separator-font {
    font-weight: 700;
    font-size: 36px;
    line-height: 1, 17;
    letter-spacing: 0.03em;
}
.active-page {
    color: var(--text-color4);
}
